# Ignore Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# Django and SQLite
*.sqlite3

# Logs and temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
